.container-element h2 {
    margin-top: 0;
}

.container-element.high {
    border-right: black solid 1px;
}

.container-element.midle {
    border-right: black solid 1px;
}

@media(max-width: 900px) {
    .container-element.high {
        border-right: none;
    }
    
    .container-element.midle {
        border-right: none
    }
}

.list-item {
    border-radius: 1.2rem;
}

.list-item.high {
    background-color: tomato;
}

.list-item.midle {
    background-color: yellow;
}
.list-item.low {
    background-color: greenyellow;
}

.list-item span {
    font-size: 1.2rem;
}

.delete-button { 
    border: none;
    background: none;
    padding: 0 .7rem;
}

.delete-button span{ 
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
}