.form {
    padding: 0 10px;
    background-color: #E6E6E9;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    box-shadow: 0 0 .4em 0 #0008;
}

.element {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.element label {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 0.8rem; 
}

.element input, 
.element select{
    border: none;
    width: 100%;
    height: 1.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.element button {
    background-color: #23CE6B;
    color: #000;
    border-radius: 5px;
    border: solid 0.1px #0008;

    padding: 0 1rem;
    font-size: 1.5rem ;
    height: 2.5rem;
    width: 100%;
}

.element button:hover {
    background-color: #24bb63;
}

@media(max-width: 768px) {
    .form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 
            1fr 
            1fr;
        grid-template-areas: 
            "input input input input"
            "select select select button";
    }
    .input {
        grid-area: input;
    }
    .select {
        grid-area: select;
    }
    .button {
        grid-area: button;
    }
}