header.header {
    background-color: #23CE6B;
    color: #f5faff;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 0 0 .4em #0009;

    display: flex;
    align-items: center;
    justify-content: center;
}